nav { 
    background-color: black; 
    color: white; 
    padding: 30px;
    display: block; 
    margin: 10px;
    border-color: white;
    border-width: 5px;
    border-style:dotted;
}
h1,ul,li{
    display: inline;

}
ul {
    margin-left: 70%;

}
li
{
    margin-left: 10px;
}
input{
    width: 50%;
    height: 30px;
     margin: 10px;
     margin-left: 25%;
}
button{
    width: 100px;
    height: 40px;
    margin: 10px;
  
   
    
}
.box1{
    width: 400px;
    height: 400px;
    margin: 10px;
    border-color: black;
    border-width: 2px;
    border-style:dashed;
    display: inline-block;
}
.Products{
margin-left: 10%;
display: flex;
align-items: flex-start;
margin-top: 50px;
}
img{
    width: 250px;
    height: 250px;
    padding-left: 50px;

}
p{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.about-content{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 25px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
.head{
    margin-top: 50px;
}
.Contact{
    text-align: center;
}
.contact-content{
    text-align: justify;
    background-color: black;
    color: white;
}